.assignment, .suggestion {
    height: 85vh;
    overflow-y: auto !important;
    background-color: white;
  }

.difficultqus, .suggestion  {
  margin-left: 250px; /* Align with sidebar width */
  padding: 20px;
  width: calc(100% - 250px); /* Full width minus sidebar */
}

.a-question {
  white-space: pre-wrap;
}